* {
	padding: 0;
	margin: 0;
	color: #d1d3d4;
	text-decoration: none;
	--corquadrados: white;
	--corkbca: #3d4973;
	--opacaixas: 0.3;
}
#fundo {
	background-color: var(--corkbca);
	background-repeat: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: var(--largura);
	height: var(--altura);
	z-index: -10;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#bg1 {
	background-color: black;
	position: absolute;
	top: var(--topbg1);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: var(--bgalt);
	opacity: var(--opacaixas);
}
#video360 iframe{
	position: absolute;
	top: var(--top1);
	left: var(--col1);
	width: var(--width1); 
	height: var(--height1);
}
#video360 p{
	position: absolute;
	top: var(--top1t);
	left: var(--col1);
	font-size: var(--tts);
}
#video360t {
	position: absolute;
	top: var(--top1);
	left: var(--col3);
	width: var(--width1); 
	height: auto;
	border: var(--corquadrados) 1px solid;
}
#video360t p {
	padding: var(--pad);
	font-size: var(--stxt);
	line-height: var(--stxt);
	text-align: start;
}
#bg2 {
	background-color: black;
	position: absolute;
	top: var(--topbg2);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: var(--bgalt);
	opacity: var(--opacaixas);
}
#videoaereo iframe {
	position: absolute;
	top: var(--top2);
	left: var(--col3);
	width: var(--width1); 
	height: var(--height1);
}
#videoaereo p {
	position: absolute;
	top: var(--top2t);
	left: var(--col3);
	font-size: var(--tts);
}
#videoaereot {
	position: absolute;
	top: var(--top2);
	left: var(--col1);
	width: var(--width1); 
	height: auto;
	border: var(--corquadrados) 1px solid;
}
#videoaereot p{
	padding: var(--pad);
	font-size: var(--stxt);
	line-height: var(--stxt);
	text-align: start;
}
#bg3 {
	background-color: black;
	position: absolute;
	top: var(--topbg3);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: var(--bgalt);
	opacity: var(--opacaixas);
}
#videoinstala iframe {
	position: absolute;
	top: var(--top3);
	left: var(--col1);
	width: var(--width1); 
	height: var(--height1);
}
#videoinstala p {
	position: absolute;
	top: var(--top3t);
	left: var(--col1);
	font-size: var(--tts);
}
#videoinstalat {
	position: absolute;
	top: var(--top3);
	left: var(--col3);
	width: var(--width1); 
	height: auto;
	border: var(--corquadrados) 1px solid;
}
#videoinstalat p {
	padding: var(--pad);
	font-size: var(--stxt);
	line-height: var(--stxt);
	text-align: start;
}
#bg4 {
	background-color: black;
	position: absolute;
	top: var(--topbg4);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: var(--bgalt);
	opacity: var(--opacaixas);
}
#videoap6 iframe {
	position: absolute;
	top: var(--top4);
	left: var(--col3);
	width: var(--width1); 
	height: var(--height1);
}
#videoap6 p {
	position: absolute;
	top: var(--top4t);
	left: var(--col3);
	font-size: var(--tts);
}
#videoap6t {
	position: absolute;
	top: var(--top4);
	left: var(--col1);
	width: var(--width1); 
	height: auto;
	border: var(--corquadrados) 1px solid;
}
#videoap6t p {
	padding: var(--pad);
	font-size: var(--stxt);
	line-height: var(--stxt);
	text-align: start;
}
#bg5 {
	background-color: black;
	position: absolute;
	top: var(--topbg5);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: var(--bgalt);
	opacity: var(--opacaixas);
}
#videopraias iframe {
	position: absolute;
	top: var(--top5);
	left: var(--col1);
	width: var(--width1); 
	height: var(--height1);
}
#videopraias p {
	position: absolute;
	top: var(--top5t);
	left: var(--col1);
	font-size: var(--tts);
}
#videopraiast {
	position: absolute;
	top: var(--top5);
	left: var(--col3);
	width: var(--width1); 
	height: auto;
	border: var(--corquadrados) 1px solid;
}
#videopraiast p {
	padding: var(--pad);
	font-size: var(--stxt);
	line-height: var(--stxt);
	text-align: start;
}

@media screen and (min-width: 1900px) { /*	COMEÇO DA TELA FULL HD 1920 */
* {
	--largura: 1900px;
	--topbg1: 279px;
	--top1t: 300px;
	--top1: 364px;
	--topbg2: 896px;
	--top2t: 915px;
	--top2: 979px;
	--topbg3: 1513px;
	--top3t: 1537px;
	--top3: 1600px;
	--topbg4: 2130px;
	--top4t: 2150px;
	--top4: 2213px;
	--topbg5: 2747px;
	--top5t: 2763px;
	--top5: 2826px;
	--top6: 3439px;
	--col0t: 69px;
	--col1: 92px;
	--col2: 539px;
	--col3: 993px;
	--col4: 1446px;
	--width1: 776px;
	--height1: 437px;
	--width2: 362px;
	--bgalt: 557px;
	--tts: 47px;
	--stxt: 25px;
	--pad: 30px;
	--altura: 3439px;
    --cor_rodap: #26304b;
    --toproda: 3375px;
	--ttsr: 30px;
	--height_rodap: 120px;
	--rodapad: 30px;
}
#videoinstala iframe {
    background-image: url(img/1900/g_v_vins_e2_1900.png);
	background-repeat: no-repeat;
}
#videoaereo iframe {
    background-image: url(img/1900/g_v_vaerea_e2_1900.png);
	background-repeat: no-repeat;
}
#video360 iframe {
    background-image: url(img/1900/g_v_v360_e2_1900.png);
	background-repeat: no-repeat;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
}
#rodape #roda1{
    position: absolute;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    left: var(--col3);
}
#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--largura);
	z-index: 201;
	animation: load1g 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load1g {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1900/cabecalho_1900a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 165px;
	width: var(--largura);
	float: none;
	z-index: 20;
}

/* COMEÇO BOTÃO TOP */
#pro_topo {
	position: fixed;
	top: 217px;
	left: 1800px;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
	transform: scale(1,1);
}
#pro_topo:hover {
	background-image: url(img/pro_topo1_e2.png);
	position: fixed;
	top: 217px;
	left: 1800px;
	z-index: 99;
	cursor: pointer;
}
#pro_topo #marca{
	position: fixed;
	top: 60px;
	left: -32px;
	float: none;
	z-index: 1;
	transform:scale(0.5,0.5)
}
/* FIM BOTÃO TOP */


/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 165px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	max-width: var(--largura);
	height: 57px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	max-width: var(--largura);
	height: 57px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 165px;
	max-width: var(--largura);
	float: none;
	z-index: 1;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
	
  width: 316px;
  height: 57px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 57px;
  text-align: center;
  float: left;
  position: static;
  text-decoration: none;
}
.subnav1 {
  float: left;
  overflow: hidden;
}
.subnav2 {
  float: left;
  overflow: hidden;
}
/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: var(--largura);
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: var(--largura);
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 25px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}
/* FIM MENU HORIZONT */
} /* FIM DA TELA FULL HD 1920 */

/* COMEÇO DA TELA HD 1440 */
@media screen and (max-width: 1900px) {
* {
	--largura: 1420px;
	--topbg1: 287px;
	--top1t: 315px;
	--top1: 366px;
	--topbg2: 790px;
	--top2t: 824px;
	--top2: 873px;
	--topbg3: 1293px;
	--top3t: 1329px;
	--top3: 1377px;
	--topbg4: 1796px;
	--top4t: 1830px;
	--top4: 1881px;
	--topbg5: 2299px;
	--top5t: 2331px;
	--top5: 2385px;
	--topbg6: 2800px;
	--top6t: 2832px;
	--top6: 2986px;
	--col0t: 49px;
	--col1: 65px;
	--col2: 398px;
	--col3: 748px;
	--col4: 1084px;
	--width1: 580px;
	--height1: 326px;
	--width2: 270px;
	--tts: 33px;
	--bgalt: 446px;
	--stxt: 20px;
	--pad: 20px;
	--altura: 2813px;
    --cor_rodap: #26304b;
    --toproda: 2802px;
	--ttsr: 24px;
	--height_rodap: 120px;
	--rodapad: 30px;
}
#videoinstala iframe {
    background-image: url(img/1420/g_v_vins_e2_1420.png);
	background-repeat: no-repeat;
}
#videoaereo iframe {
    background-image: url(img/1420/g_v_vaerea_e2_1420.png);
	background-repeat: no-repeat;
}
#video360 iframe {
    background-image: url(img/1420/g_v_v360_e2_1420.png);
	background-repeat: no-repeat;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
}
#rodape #roda1{
    position: absolute;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    left: var(--col3);
}
#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	position: fixed;
	left: 0;
	height: 100%;
	width: var(--largura);
	z-index: 201;
	animation: load2 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load2 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1420/cabecalho_1420a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 171px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
/* COMEÇO BOTÃO TOP */
#pro_topo {
	position: fixed;
	top: 220px;
	left: 1338px;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.7,0.7);
}
#pro_topo:hover {
	background-image: url(img/pro_topo1_e2.png);
	position: fixed;
	top: 220px;
	left: 1338px;
	z-index: 99;
	cursor: pointer;
}
#pro_topo #marca{
	position: fixed;
	top: 60px;
	left: -32px;
	float: none;
	z-index: 1;
	transform:scale(0.35,0.35)
}
/* FIM BOTÃO TOP */


/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 171px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	height: 59px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	max-width: var(--largura);
	height: 59px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 171px;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  z-index: 1;
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
  width: 236px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}
.subnav1 {
  z-index: 2;
  float: left;
  overflow: hidden;
}
.subnav2 {
  z-index: 5;
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: var(--largura);
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: var(--largura);
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 20px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}



}
/* FIM DA TELA FULL HD 1440 */



/* COMEÇO DA TABLET e Cel 1240 */
@media screen and (max-width: 1300px) {
* {
	--largura: 1260px;
	--topbg1: 482px;
	--top1t: 495px;
	--top1: 552px;
	--top2: 1153px;
	--topbg2: 1597px;
	--top2t: 1612px;
	--topbg3: 2757px;
	--top3t: 2772px;
	--top3: 1674px;
	--topbg4: 3872px;
	--top4t: 3887px;
	--top4: 2275px;
	--topbg5: 4987px;
	--top5t: 5002px;
	--top5: 2840px;
	--top6: 3430px;
	--top7: 3948px;
	--top8: 4549px;
	--top9: 5064px;
	--top10: 5709px;
	--col0t: 49px;
	--col1: 108px;
	--col2: 418px;
	--col2r: 750px;
	--col3: 108px;
	--width1: 1014px;
	--height1: 571px;
	--width2: 280px;
	--tts: 40px;
	--stxt: 35px;
	--pad: 20px;
	--altura: 6030px;
    --cor_rodap: #26304b;
    --toproda: 6030px;
	--ttsr: 25px;
	--height_rodap: 120px;
	--rodapad: 30px;
}
#videoinstala iframe {
    background-image: url(img/g_v_vins_e2_1300.png);
	background-repeat: no-repeat;
}
#videoaereo iframe {
    background-image: url(img/g_v_vaerea_e2_1300.png);
	background-repeat: no-repeat;
}
#video360 iframe {
    background-image: url(img/g_v_v360_e2_1300.png);
	background-repeat: no-repeat;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
	overflow: hidden;
}
#rodape #roda1{
    position: absolute;
    top: -15px;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    top: 15px;
    left: var(--col1);
}
#bg1 {
	display: none;
}
#bg2 {
	display: none;
}
#bg3 {
	display: none;
}
#bg4 {
	display: none;
}
#bg1m {
	background-color: black;
	position: absolute;
	top: var(--topbg1);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: 1055px;
	opacity: var(--opacaixas);
}
#bg2m {
	background-color: black;
	position: absolute;
	top: var(--topbg2);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: 1100px;
	opacity: var(--opacaixas);
}
#bg3m {
	background-color: black;
	position: absolute;
	top: var(--topbg3);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: 1055px;
	opacity: var(--opacaixas);
}
#bg4m {
	background-color: black;
	position: absolute;
	top: var(--topbg4);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: 1055px;
	opacity: var(--opacaixas);
}
#bg5m {
	background-color: black;
	position: absolute;
	top: var(--topbg5);
	left: 0;
	z-index: -1;
	width: var(--largura);
	height: 1100px;
	opacity: var(--opacaixas);
}
#hover {
	display: none;	
}
#shover {
	display: inherit;	
}
#loader {
	display: none;
}
#loaderfix {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	height: 100%;
	width: var(--largura);
	z-index: 201;
	animation: load3 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load3 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/cabecalho_1260a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 305px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
#bg1 {
	height: 853px;
}
#video360t {
	top: var(--top2);
}
#bg2 {
	height: 853px;
}	
#videoaereo iframe {
	top: var(--top3);
}
#videoaereot {
	top: var(--top4);
}
#bg3 {
	height: 853px;
}
#videoinstala iframe {
	top: var(--top5);
}
#videoinstalat {
	top: var(--top6);
}
#bg4 {
	height: 853px;
}
#videoap6 iframe {
	top: var(--top7);
}
#videoap6t {
	top: var(--top8);
}
#bg5 {
	height: 1083px;
}
#videopraias iframe {
	top: var(--top9);
}
#videopraiast {
	top: var(--top10);
}
/* COMEÇO BOTÃO TOP */
#pro_topo {
	position: fixed;
	top: 457px;
	left: 1155px;
	opacity: 1;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.65,0.65);
}
#pro_topo:hover {
	background-image: url(img/pro_topo1_e2.png);
	position: fixed;
	top: 457px;
	left: 1155px;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.65,0.65);
}
#marca{display:none;}
/* FIM BOTÃO TOP */

#bgmenu {
	position: absolute;
	top: 305px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	max-width: var(--largura);
	height: 118px;
	z-index: -1;
	
}
#bgmenuf {
	background-color: #26304b;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: var(--largura);
	height: 118px;
	z-index: -1;
	
}
#bgmenuf_shover {
	background-color: #26304b;
	position: fixed;
	top: 0px;
	width: var(--largura);
	height: 118px;
	z-index: 0;
	float: none;
	
}
#menu_horiz_config2 {
	position: absolute;
	top: 305px;
}
#menu_horiz_config2f {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar2 .current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar2 {
  z-index: 1;
  overflow: hidden;
  color: #cccccc;
}
/* Navigation links */
.navbar2 a {
  background-color: #26304b;
  width: 420px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}

#mob_boi {
	position: absolute;
	top: 0px;
	left: 0px;
}
#mob_gal {
	position: absolute;
	top: 0px;
	left: 420px;
}
#mob_exp {
	position: absolute;
	top: 0px;
	left: 840px;
}
#mob_qsomos {
	position: absolute;
	top: 59px;
	left: 0px;
}
#mob_cont {
	position: absolute;
	top: 59px;
	left: 840px;
}
#mob_for {
	position: absolute;
	top: 59px;
	left: 420px;
}
/* FIM MENU HORIZONT */



/* FIM DA TABLET e CEL 1240 */
}
/* FIM DA TABLET e CEL 1240 */
