* {
	padding: 0;
	margin: 0;
	color: #d1d3d4;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	--corquadrados: white;
	--corkbca: #3d4973;
	--opacaixas: 0.3;
	--corcaixas: black;
	--corcaixas2: rgba(0, 0, 0, 0.3);
	--altura: 100%;
}
#f {
	background-color: var(--corkbca);
	background-repeat: inherit;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
}
#erro {
	width: 100%;
	position: absolute;
	top: 30%;
	text-align: center;
	font-size: var(--tts);
}
#erro a {
	color: #abecfe;	
}
#erro a:hover {
	color: var(--corquadrados);	
}
#codig {
	background-image: url(img/desenho_familia_menor.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 55%;
	left: 27%;
	right: 27%;
	width: 866px;
	height: 360px;
	background-blend-mode: screen;
	mix-blend-mode: screen;
	filter: invert(100%);
	opacity: 0.4;
}

/* SEARCH */
#sear {
	font-size: var(--tts);
	text-align: center;
	position: absolute;
	width: 100%;
	top: 47%;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: var(--tts2);
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
}

input[type=text]:focus {
    width: 90%;
}
/* SEARCH */
@media screen and (min-width: 1900px) {
	* {
		--tts: 30px;
		--tts2: 16px;
		--largura: 1900px;
				
	}
	
	#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: var(--altura);
	width: var(--largura);
	z-index: 201;
	animation: load1g 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load1g {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1900/cabecalho_1900.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 165px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
	
	/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 165px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	height: 57px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	max-width: var(--largura);
	height: 57px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 165px;
	max-width: var(--largura);
	float: none;
	z-index: 1;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
	
  width: 316px;
  height: 57px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 57px;
  text-align: center;
  float: left;
  position: static;
  text-decoration: none;
}
.subnav1 {
  float: left;
  overflow: hidden;
}
.subnav2 {
  float: left;
  overflow: hidden;
}
/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: var(--largura);
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: var(--largura);
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 25px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}
/* FIM MENU HORIZONT */
}


@media screen and (max-width: 1900px) {
	* {
		--tts: 30px;
		--tts2: 16px;
		--largura: 1420px;	
	}
	#erro {
		top: 30%;
	}
	#sear {
		top: 47%;
	}
	#codig {
		transform: scale(0.7,0.7);
		top: 50%;
		left: 20%;
	}
	
	#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	position: fixed;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 201;
	animation: load2 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load2 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1420/cabecalho_1420.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 171px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
	
	/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 171px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	height: 59px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	height: 59px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 171px;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  z-index: 1;
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
  width: 236px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}
.subnav1 {
  z-index: 2;
  float: left;
  overflow: hidden;
}
.subnav2 {
  z-index: 5;
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: 100%;
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: 100%;
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 20px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}
}
@media screen and (max-width: 1300px) {
	* {
		--tts: 40px;
		--tts2: 30px;
		--largura: 1260px;	
	}
	#erro {
		left: 126px;
		top: 480px;
	}
	#sear {
		left: 126px;
		top: 770px;
	}
	input[type=text] {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: var(--tts2);
    background-color: transparent;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 24px 40px 24px 80px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
}

	#codig {
		transform: scale(0.8,0.8);
		top: 920px;
		left: 213px;
	}
	
	#hover {
	display: none;	
}
#shover {
	display: inherit;	
}
#loader {
	display: none;
}
#loaderfix {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 201;
	animation: load3 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load3 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/cabecalho_1260.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 305px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
	
#bgmenu {
	position: absolute;
	top: 305px;
	left: 0px;
	background-color: #26304b;
	width: 100%;
	height: 118px;
	z-index: -1;
	
}
#bgmenuf {
	background-color: #26304b;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: var(--largura);
	height: 118px;
	z-index: -1;
	
}
#bgmenuf_shover {
	background-color: #26304b;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 118px;
	z-index: 0;
	float: none;
	
}
#menu_horiz_config2 {
	position: absolute;
	top: 305px;
}
#menu_horiz_config2f {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar2 .current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar2 {
  z-index: 1;
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}
/* Navigation links */
.navbar2 a {
  width: 420px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}

#mob_boi {
	background-color: #26304b;
	position: absolute;
	top: 0px;
	left: 0px;
}
#mob_gal {
	background-color: #26304b;
	position: absolute;
	top: 0px;
	left: 420px;
}
#mob_exp {
	background-color: #26304b;
	position: absolute;
	top: 0px;
	left: 840px;
}
#mob_qsomos {
	background-color: #26304b;
	position: absolute;
	top: 59px;
	left: 0px;
}
#mob_cont {
	background-color: #26304b;
	position: absolute;
	top: 59px;
	left: 840px;
}
#mob_for {
	background-color: #26304b;
	position: absolute;
	top: 59px;
	left: 420px;
}
/* FIM MENU HORIZONT */
}