*#rodape #roda2 a:hover{color: var(--corquadrados);}
*#rodape #roda2 a{color: var(--corcurrent);}
* {
	padding: 0;
	margin: 0;
	color: #d1d3d4;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	--corquadrados: white;
	--corkbca: #3d4973;
	--opacaixas: 0.3;
	--corcaixas: black;
	--corcaixas2: rgba(0, 0, 0, 0.3);
	--corcurrent: #abecfe;
}
h1 {
	font-size: var(--tts0);
	float: left;
	margin-right: 20px;
	color: var(--corcurrent);
}
#fundo {
	background-color: var(--corkbca);
	background-repeat: inherit;
	position: fixed;
	top: 0;
	left: 0;
	width: var(--largura);
	height: 100%;
	z-index: -10;
}
#motor {
	background-color: var(--corcaixas2);
	position: absolute;
	top: var(--top1);
	left: var(--col1);
	width: var(--width1);
	height: var(--height1);
	font-size: var(--tts);
	border: var(--corquadrados) 1px solid;
}
#contrat {
    position: absolute;
	top: var(--top_contr);
	left: var(--col2);
	font-size: var(--tts);
}
#conts_a {
	position: absolute;
	top: var(--top1);
	left: var(--col2);
	font-size: var(--tts);
	margin-bottom: var(--pad);
}
#conts_a a {
	color: var(--corcurrent);
}
#conts_a a:hover {
	color: var(--corquadrados);
}
#conclt {
	position: absolute;
	top: var(--top2);
	left: var(--col2);
	font-size: var(--tts);
	margin-bottom: var(--pad);
}
#contrato p {
	color: var(--corcurrent);
}
#contrato p:hover {
	color: var(--corquadrados);
	font-size: var(--tts0);
}
#contat {
	position: absolute;
	font-size: var(--tts);
	top: var(--top3);
	left: var(--col2);
}
#nome {
	font-size: var(--tts);
}
#mail {
	font-size: var(--tts);
}
#assunt {
	padding: var(--pad2);
	font-size: var(--tts);
	width: var(--width2);
}
#msg {
	background-color: var(--corcaixas2);
	font-size: var(--tts);
	width: var(--width1);
	height: var(--height2);
}
#msg p {
	padding: var(--pad2);
}
	
@keyframes e2{
  0% {
  opacity: 0;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  }
  30% {
  opacity: 1;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  }
  85% {
  opacity: 1;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  }
  100% {
  opacity: 1;
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  }
}
@keyframes e1 {
  0% {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  }
  30% {
  opacity: 0;
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  }
}
@media screen and (min-width: 1900px) { /*	COMEÇO DA TELA FULL HD 1920 */
* {
	--largura: 1900px;
	--top1: 282px;
	--top2: 802px;
	--top3: 572px;
	--top4t: 1244px;
	--top6: 1444px;
	--col1: 57px;
	--col2: 978px;
	--width1: 799px;
	--height1: 543px;
	--width2: 350px;
	--height2: 283px;
	--tts0l: 40px;
	--tts0: 25px;
	--tts: 25px;
	--pad: 30px;
	--pad2: 15px;
	--coldiv2: 1800px;
	--heiava: 30px;
	--widava: 30px;
	--cor_rodap: #26304b;
    --toproda: 950px;
	--ttsr: 30px;
	--height_rodap: 120px;
	--rodapad: 30px;
	--top_contr: 410px;
}
#motor{
    background-image: url(img/1900/fachada_contatos.png);
    background-repeat: no-repeat;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
}
#rodape #roda1{
    position: absolute;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    left: var(--col2);
}
#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--largura);
	z-index: 201;
	animation: load1g 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load1g {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1900/cabecalho_1900a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 165px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
#avatar {
	background-image: url(img/avatar.jpg);
	width: var(--widava);
	height: var(--heiava);
	position: absolute;
	top: 0;
	left: 0;
}

/* COMEÇO BOTÃO TOP */
#pro_topo {
	position: fixed;
	top: 217px;
	left: var(--coldiv2);
	opacity: 0;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.85,0.85);
}
#pro_topo:hover {
	background-image: url(img/pro_topo1_e2.png);
	position: fixed;
	top: 217px;
	left: var(--coldiv2);
	z-index: 99;
	cursor: pointer;
}
#pro_topo #marca{
	position: fixed;
	top: 60px;
	left: -32px;
	float: none;
	z-index: 1;
	transform:scale(0.45,0.45)
}
/* FIM BOTÃO TOP */


/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 165px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	max-width: var(--largura);
	height: 57px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	max-width: var(--largura);
	height: 57px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 165px;
	max-width: var(--largura);
	float: none;
	z-index: 1;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
	
  width: 316px;
  height: 57px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 57px;
  text-align: center;
  float: left;
  position: static;
  text-decoration: none;
}
.subnav1 {
  float: left;
  overflow: hidden;
}
.subnav2 {
  float: left;
  overflow: hidden;
}
/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: var(--largura);
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: var(--largura);
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 25px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}
/* FIM MENU HORIZONT */
} /* FIM DA TELA FULL HD 1920 */

/* COMEÇO DA TELA HD 1440 */
@media screen and (max-width: 1900px) {
* {
	--largura: 1420px;
	--top1: 290px;
	--top2: 715px;
	--top3: 550px;
	--top4t: 1085px;
	--top6: 1235px;
	--col1: 48px;
	--col2: 733px;
	--width1: 600px;
	--height1: 445px;
	--height2: 233px;
	--width2: 317px;
	--tts0l: 30px;
	--tts0: 25px;
	--tts: 20px;
	--pad: 20px;
	--pad2: 15px;
	--coldiv2: 1340px;
	--heiava: 30px;
	--widava: 30px;
    --cor_rodap: #26304b;
    --toproda: 850px;
	--ttsr: 24px;
	--height_rodap: 120px;
	--rodapad: 30px;
    --top_contr: 390px;
}
#motor{
    background-image: url(img/1420/fachada_contatos_1420.png);
    background-repeat: no-repeat;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
}
#rodape #roda1{
    position: absolute;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    left: var(--col2);
}
#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	position: fixed;
	left: 0;
	height: 100%;
	width: var(--largura);
	z-index: 201;
	animation: load2 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load2 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1420/cabecalho_1420a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 171px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
#avatar {
	background-image: url(img/avatar.jpg);
	width: var(--widava);
	height: var(--heiava);
	position: absolute;
	top: 0;
	left: 0;
}

/* COMEÇO BOTÃO TOP */
#pro_topo {
	position: fixed;
	top: 217px;
	left: var(--coldiv2);
	opacity: 0;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.75,0.75);
}
#pro_topo:hover {
	background-image: url(img/pro_topo1_e2.png);
	position: fixed;
	top: 217px;
	left: var(--coldiv2);
	z-index: 99;
	cursor: pointer;
}
#pro_topo #marca{
	position: fixed;
	top: 60px;
	left: -32px;
	float: none;
	z-index: 1;
	transform:scale(0.45,0.45)
}
/* FIM BOTÃO TOP */

/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 171px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	height: 59px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	max-width: var(--largura);
	height: 59px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 171px;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  z-index: 1;
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
  width: 236px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}
.subnav1 {
  z-index: 2;
  float: left;
  overflow: hidden;
}
.subnav2 {
  z-index: 5;
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: var(--largura);
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: var(--largura);
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 20px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}

}
/* FIM DA TELA FULL HD 1440 */


@media screen and (max-width: 1300px) {
* {
	--largura: 1260px;
	--top1c: 483px;
	--top0: 483px;
	--top1: 663px;
	--top2: 1450px;
	--top3: 1819px;
	--top4t: 2649px;
	--top6: 2809px;
	--col1: 83px;
	--col2: 83px;
	--col2r: 750px;
	--width1: 1014px;
	--width2: 300px;
	--height1: 676px;
	--height2: 276px;
	--tts0l: 45px;
	--tts0: 35px;
	--tts: 35px;
	--pad: 30px;
	--pad2: 15px;
	--wid_final: 1014px;
    --cor_rodap: #26304b;
    --toproda: 1600px;
	--ttsr: 25px;
	--height_rodap: 120px;
	--rodapad: 30px;
    --top_contr: 1380px;
}
#motor{
    background-image: url(img/fachada_contatos_1300.png);
    background-repeat: no-repeat;
}
#conts_a {
	position: absolute;
	top: var(--top0);
	left: var(--col2);
	font-size: var(--tts);
	margin-bottom: var(--pad);
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
	overflow: hidden;
}
#rodape #roda1{
    position: absolute;
    top: -15px;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    top: 15px;
    left: var(--col1);
}
#msg {
	padding: var(--pad);
	
}
#conclt {
	width: var(--wid_final);
}

#avatar {
	background-image: url(img/avatar.jpg);
	width: var(--widava);
	height: var(--heiava);
	position: absolute;
	top: 0;
	left: 0;
}
#hover {
	display: none;	
}
#shover {
	display: inherit;	
}
#loader {
	display: none;
}
#loaderfix {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	height: 100%;
	width: var(--largura);
	z-index: 201;
	animation: load3 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load3 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/cabecalho_1260a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 305px;
	width: var(--largura);
	float: none;
	z-index: 20;
}


/* COMEÇO BOTÃO TOP */
#pro_topo {
	position: fixed;
	top: 460px;
	left: 1170px;
	opacity: 1;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.75,0.75);
}
#pro_topo:hover {
	background-image: url(img/pro_topo1_e2.png);
	position: fixed;
	top: 460px;
	left: 1170px;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.75,0.75);
}
#marca{
	position: absolute;
	top: 1383px;
	left: -600px;
	float: none;
	z-index: 1;
	transform:scale(0.5,0.5)
}
/* FIM BOTÃO TOP */

#bgmenu {
	position: absolute;
	top: 305px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	height: 118px;
	z-index: -1;	
}
#bgmenuf {
	background-color: #26304b;
	position:fixed;
	top: 0px;
	left: 0px;
	width: var(--largura);
	max-width: var(--largura);
	height: 118px;
	z-index: -1;
	
}
#bgmenuf_shover {
	background-color: #26304b;
	position: fixed;
	top: 0px;
	width: var(--largura);
	height: 118px;
	z-index: 0;
	float: none;
	
}
#menu_horiz_config2 {
	position: absolute;
	top: 305px;
}
#menu_horiz_config2f {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar2 .current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar2 {
  z-index: 1;
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}
/* Navigation links */
.navbar2 a {
  background-color: #26304b;
  width: 420px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}

#mob_boi {
	position: absolute;
	top: 0px;
	left: 0px;
}
#mob_gal {
	position: absolute;
	top: 0px;
	left: 420px;
}
#mob_exp {
	position: absolute;
	top: 0px;
	left: 840px;
}
#mob_qsomos {
	position: absolute;
	top: 59px;
	left: 0px;
}
#mob_cont {
	position: absolute;
	top: 59px;
	left: 840px;
}
#mob_for {
	position: absolute;
	top: 59px;
	left: 420px;
}
/* FIM MENU HORIZONT */



/* FIM DA TABLET e CEL 1240 */
}
/* FIM DA TABLET e CEL 1240 */

