* {
	padding: 0;
	margin: 0;
	color: #d1d3d4;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	--corquadrados: white;
	--corkbca: #3d4973;
	--opacaixas: 0.3;
	--corcaixas: black;
	--corcaixas2: rgba(0, 0, 0, 0.3);
}
#fundo {
	background-repeat: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: var(--largura);
	height: var(--altura);
	z-index: -10;
}
#mir_aer {
	position: absolute;
	top: var(--top1);
	left: var(--col1);
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	border: var(--corquadrados) 1px solid;
	clip-path: polygon(0 0, 100% 0, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  	background-color: var(--corcaixas2);
}
#mir_aer p {
	position: absolute;
	top: var(--margem_p);
	left: var(--margem_p);
}
#emi:hover #mir_aer {
	animation: e1 6s ease;
	opacity: 0;
}
#mir_aer_e2{
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	opacity: 0;
	position: absolute;
	top: var(--top1);
	left: var(--col1);
	clip-path: polygon(0 0, 100% 0, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
}
#mir_aer_e2 p {
	position: absolute;
	top: var(--margem_p);
	left: var(--margem_p);
}
#emi:hover #mir_aer_e2 {
	animation: e2 6s ease;
	opacity: 1;
}
#mont_cach {
	position: absolute;
	top: var(--top1b);
	left: var(--col1b);
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	border: var(--corquadrados) 1px solid;
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  	background-color: var(--corcaixas2);
}
#mont_cach p {
	position: absolute;
	right: var(--margem_p);
	bottom: var(--margem_p);
}
#emo:hover #mont_cach {
	animation: e1 6s ease;
	opacity: 0;
}
#mont_cach_e2{
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	opacity: 0;
	position: absolute;
	top: var(--top1b);
	left: var(--col1b);
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
#mont_cach_e2 p {
	position: absolute;
	right: var(--margem_p);
	bottom: var(--margem_p);
}
#emo:hover #mont_cach_e2 {
	animation: e2 6s ease;
	opacity: 1;
}
#pass_eve {
	position: absolute;
	top: var(--top2);
	left: var(--col3);
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	border: var(--corquadrados) 1px solid;
	clip-path: polygon(0 0, 100% 0, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  	background-color: var(--corcaixas2);
}
#pass_eve p {
	position: absolute;
	top: var(--margem_p);
	left: var(--margem_p);
}
#ep:hover #pass_eve {
	animation: e1 6s ease;
	opacity: 0;
}
#pass_eve_e2 {
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	opacity: 0;
	position: absolute;
	top: var(--top2);
	left: var(--col3);
	clip-path: polygon(0 0, 100% 0, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
}
#ep:hover #pass_eve_e2 {
	animation: e2 6s ease;
	opacity: 1;
}
#pass_eve_e2 p {
	position: absolute;
	top: var(--margem_p);
	left: var(--margem_p);
}
#divers {
	position: absolute;
	top: var(--top2b);
	left: var(--col3b);
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	border: var(--corquadrados) 1px solid;
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  	background-color: var(--corcaixas2);
}
#divers p {
	position: absolute;
	right: var(--margem_p);
	bottom: var(--margem_p);
}
#ed:hover #divers {
	animation: e1 6s ease;
	opacity: 0;
}
#divers_e2 {
	width: var(--width1); 
	height: var(--height1);
	font-size: var(--tts);
	opacity: 0;
	position: absolute;
	top: var(--top2b);
	left: var(--col3b);
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  	background-color: var(--corcaixas2);
	
}
#divers_e2 p {
	position: absolute;
	right: var(--margem_p);
	bottom: var(--margem_p);
}
#ed:hover #divers_e2 {
	animation: e2 6s ease;
	opacity: 1;
}
@keyframes e2{
  0% {
  opacity: 0;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  }
  30% {
  opacity: 1;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  }
  85% {
  opacity: 1;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  }
  100% {
  opacity: 1;
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  }
}
@keyframes e1 {
  0% {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  }
  30% {
  opacity: 0;
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  }
}
@media screen and (min-width: 1900px) { /*	COMEÇO DA TELA FULL HD 1920 */
* {
	--largura: 1900px;
	--top1: 282px;
	--top1b: 305px;
	--top2: 282px;
	--top2b: 305px;
	--bottom1: 59px;
	--col1: 57px;
	--col1b: 57px;
	--col3: 978px;
	--col3b: 978px;
	--width1: 859px;
	--height1: 573px;
	--tts: 47px;
	--altura: 940px;
	--margem_p: 50px;
    --cor_rodap: #26304b;
    --toproda: 930px;
	--ttsr: 30px;
	--height_rodap: 120px;
	--rodapad: 30px;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
}
#rodape #roda1{
    position: absolute;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    left: var(--col3);
}
#fundo {
	background-image: url(img/1900/exp_bg_1900_940.jpg);
	overflow: hidden;
}
#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: var(--altura);
	width: var(--largura);
	z-index: 201;
	animation: load1g 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load1g {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1900/cabecalho_1900a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 165px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
#mir_aer_e2{
	background-image: url(img/1900/exp_mir_aer_e1_2.png);
}
#mont_cach_e2{
	background-image: url(img/1900/exp_mont_cach_e1_2.png);
}
#pass_eve_e2 {
	background-image: url(img/1900/exp_pass_eve_e1_2_1.png);
}
#divers_e2 {
	background-image: url(img/1900/exp_divers_e1_2_1.png);
}

/* COMEÇO BOTÃO TOP */
#pro_topo {
	display: none;
}
/* FIM BOTÃO TOP */


/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 165px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	max-width: var(--largura);
	height: 57px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	max-width: var(--largura);
	height: 57px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 165px;
	max-width: var(--largura);
	float: none;
	z-index: 1;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
	
  width: 316px;
  height: 57px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 57px;
  text-align: center;
  float: left;
  position: static;
  text-decoration: none;
}
.subnav1 {
  float: left;
  overflow: hidden;
}
.subnav2 {
  float: left;
  overflow: hidden;
}
/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: var(--largura);
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: var(--largura);
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 25px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}
/* FIM MENU HORIZONT */
} /* FIM DA TELA FULL HD 1920 */

/* COMEÇO DA TELA HD 1440 */
@media screen and (max-width: 1900px) {
* {
	--largura: 1420px;
	--top1: 275px;
	--top1b: 285px;
	--top2: 275px;
	--top2b: 285px;
	--col1: 48px;
	--col1b: 48px;
	--col3: 733px;
	--col3b: 733px;
	--width1: 627px;
	--height1: 418px;
	--tts: 33px;
	--altura: 750px;
	--margem_p: 50px;
    --cor_rodap: #26304b;
    --toproda: 750px;
	--ttsr: 24px;
	--height_rodap: 120px;
	--rodapad: 30px;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
}
#rodape #roda1{
    position: absolute;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    left: var(--col3);
}
#fundo {
	background-image: url(img/1420/exp_bg_1420_750.jpg);
	overflow: hidden;
}
#hover {
	display: inherit;	
}
#shover {
	display: none;	
}
#loaderfix {
	display: none;
}
#loader {
	display: inherit;
	background-color: var(--corkbca);
	position: absolute;
	left: 0;
	height: var(--altura);
	width: var(--largura);
	z-index: 201;
	animation: load2 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load2 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/1420/cabecalho_1420a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 171px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
#mir_aer_e2{
	background-image: url(img/1420/exp_mir_aer_e1_2_1420.png);
}
#mont_cach_e2{
	background-image: url(img/1420/exp_mont_cach_e1_2_1420.png);
}
#pass_eve_e2 {
	background-image: url(img/1420/exp_pass_eve_e1_2_1420_1.png);
}
#divers_e2 {
	background-image: url(img/1420/exp_divers_e1_2_1420_1.png);
}
/* COMEÇO BOTÃO TOP */
#pro_topo {
	display: none;
}
/* FIM BOTÃO TOP */


/* COMEÇO MENU HORIZONT */
#bgmenu {
	position: absolute;
	top: 171px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	height: 59px;
	z-index: -1;
	
}
#bgmenuf {
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	max-width: var(--largura);
	height: 59px;
	z-index: -1;
	
}
#menu_horiz_config {
	position: absolute;
	top: 171px;
}
#menu_horiz_configfix {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar a.current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar {
  z-index: 1;
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}

/* Navigation links */
.navbar a {
  width: 236px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}
.subnav1 {
  z-index: 2;
  float: left;
  overflow: hidden;
}
.subnav2 {
  z-index: 5;
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav1 .subnavbtn1 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav2 .subnavbtn2 {
  font-size: 14px; 
  border: none;
  outline: none;
  color: #cccccc;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav1:hover .subnavbtn1 {
  background: -webkit-gradient(linear, center top, center bottom, from(#313f63), to(#435789));
  background-image: linear-gradient(#313f63, #435789);
  border-radius: 20px;
}

/* Style the subnav content - positioned absolute */
.subnav1-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #313f63;
  width: var(--largura);
}
.subnav1-content .flo_r{
	float: right;
}
.subnav2-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #435789;
  width: var(--largura);
}
/* Style the subnav links */
.subnav1-content a {
  float: left;
  color: #bcbec0;
  text-decoration: none;
  font-size: 20px;
}
/* Add a grey background color on hover */
.subnav1-content a:hover {
  background-color: #435789;
  color: white;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav1:hover .subnav1-content {
  display: block;
}
.subnav2:hover .subnav2-content {
  display: block;
}



}
/* FIM DA TELA FULL HD 1440 */



@media screen and (max-width: 1300px) {
* {
	--largura: 1260px;
	--top1: 483px;
	--top1b: 542px;
	--top2: 1280px;
	--top2b: 1339px;
	--col1: 108px;
	--col1b: 108px;
	--col3: 108px;
	--col3b: 108px;
	--col3r: 750px;
	--width1: 1014px;
	--height1: 676px;
	--tts: 37px;
	--altura: 2136px;
	--cor_rodap: #26304b;
    --toproda: 2136px;
	--ttsr: 25px;
	--height_rodap: 120px;
	--rodapad: 30px;
}
#rodape {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: var(--cor_rodap);
	position: absolute;
	top: var(--toproda);
	width: var(--largura);
	height: var(--height_rodap);
	line-height: var(--height_rodap);
	font-size: var(--ttsr);
	overflow: hidden;
}
#rodape #roda1{
    position: absolute;
    top: -15px;
    left: var(--col1);
}
#rodape #roda2{
    position: absolute;
    top: 15px;
    left: var(--col1);
}
#fundo {
	background-image: url(img/exp_bg_1260_2136.jpg);
	overflow: hidden;
}

#hover {
	display: none;	
}
#shover {
	display: inherit;	
}
#loader {
	display: none;
}
#loaderfix {
	display: inherit;
	background-color: var(--corkbca);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	height: var(--altura);
	width: var(--largura);
	z-index: 201;
	animation: load3 1s ease-in 1;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
	opacity: 1;
}
@keyframes load3 {
  0% {
  left: 0;
  opacity: 1;
  }
  90%{
  left: 0;
  opacity: 0;
  }
  100% {
  left: -100%;
  opacity: 0;
  }
}
#kbca2 {
	background-image: url(img/cabecalho_1260a.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 305px;
	width: var(--largura);
	float: none;
	z-index: 20;
}
#mir_aer_e2{
	display: none;
}
#mont_cach_e2{
	display: none;
}
#pass_eve_e2 {
	display: none;
}
#divers_e2 {
	display: none;
}
#emi:hover #mir_aer {
	animation: e1 2s ease;
	animation-direction: reverse;
	opacity: 1;
}
#emo:hover #mont_cach {
	animation: e1 2s ease;
	animation-direction: reverse;
	opacity: 1;
}
#ep:hover #pass_eve {
	animation: e1 2s ease;
	animation-direction: reverse;
	opacity: 1;
}
#ed:hover #divers {
	animation: e1 2s ease;
	animation-direction: reverse;
	opacity: 1;
}
/* COMEÇO BOTÃO TOP */
#pro_topo {
	position: fixed;
	top: 460px;
	left: 1155px;
	opacity: 1;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.75,0.75);
}
#pro_topo:hover {
	background-image: url(img/pro_topo1_e2.png);
	position: fixed;
	top: 460px;
	left: 1155px;
	z-index: 99;
	cursor: pointer;
	transform: scale(0.75,0.75);
}
#marca{
	position: absolute;
	top: 1383px;
	left: -600px;
	float: none;
	z-index: 1;
	transform:scale(0.5,0.5)
}
/* FIM BOTÃO TOP */

#bgmenu {
	position: absolute;
	top: 305px;
	left: 0px;
	background-color: #26304b;
	width: var(--largura);
	max-width: var(--largura);
	height: 118px;
	z-index: -1;
	
}
#bgmenuf {
	background-color: #26304b;
	position:fixed;
	top: 0px;
	left: 0px;
	width: var(--largura);
	max-width: var(--largura);
	height: 118px;
	z-index: -1;
	
}
#bgmenuf_shover {
	background-color: #26304b;
	position: fixed;
	top: 0px;
	width: var(--largura);
	height: 118px;
	z-index: 0;
	float: none;
	
}
#menu_horiz_config2 {
	position: absolute;
	top: 305px;
}
#menu_horiz_config2f {
	position: fixed;
	top: 0px;
	z-index: 0;
	float: none;
}

.navbar2 .current {
	color: #abecfe;	
}
/* The navigation menu */
.navbar2 {
  z-index: 1;
  overflow: hidden;
  background-color: #26304b;
  color: #cccccc;
}
/* Navigation links */
.navbar2 a {
  width: 413px;
  height: 59px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
}

#mob_boi {
	position: absolute;
	top: 0px;
	left: 0px;
}
#mob_gal {
	position: absolute;
	top: 0px;
	left: 413px;
}
#mob_exp {
	position: absolute;
	top: 0px;
	left: 826px;
}
#mob_qsomos {
	position: absolute;
	top: 59px;
	left: 0px;
}
#mob_cont {
	position: absolute;
	top: 59px;
	left: 826px;
}
#mob_for {
	position: absolute;
	top: 59px;
	left: 413px;
}
/* FIM MENU HORIZONT */



/* FIM DA TABLET e CEL 1240 */
}
/* FIM DA TABLET e CEL 1240 */